################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.manifest
*.dll
/PricingTest/bin/Debug/net6.0/CoverletSourceRootsMapping
/PricingTest/bin/Debug/net6.0/Pricing.pdb
/PricingTest/bin/Debug/net6.0/PricingTest.deps.json
/PricingTest/bin/Debug/net6.0/PricingTest.pdb
/PricingTest/bin/Debug/net6.0/PricingTest.runtimeconfig.json
/PricingTest/bin/Debug/net6.0/testhost.exe
/PricingTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/PricingTest/obj/Debug/net6.0/PricingT.E213967B.Up2Date
/PricingTest/obj/Debug/net6.0/PricingTest.AssemblyInfo.cs
/PricingTest/obj/Debug/net6.0/PricingTest.AssemblyInfoInputs.cache
/PricingTest/obj/Debug/net6.0/PricingTest.assets.cache
/PricingTest/obj/Debug/net6.0/PricingTest.csproj.AssemblyReference.cache
/PricingTest/obj/Debug/net6.0/PricingTest.csproj.BuildWithSkipAnalyzers
/PricingTest/obj/Debug/net6.0/PricingTest.csproj.CoreCompileInputs.cache
/PricingTest/obj/Debug/net6.0/PricingTest.csproj.FileListAbsolute.txt
/PricingTest/obj/Debug/net6.0/PricingTest.GeneratedMSBuildEditorConfig.editorconfig
/PricingTest/obj/Debug/net6.0/PricingTest.genruntimeconfig.cache
/PricingTest/obj/Debug/net6.0/PricingTest.GlobalUsings.g.cs
/PricingTest/obj/Debug/net6.0/PricingTest.pdb
/PricingTest/obj/PricingTest.csproj.nuget.dgspec.json
/PricingTest/obj/PricingTest.csproj.nuget.g.props
/PricingTest/obj/PricingTest.csproj.nuget.g.targets
/PricingTest/obj/project.assets.json
/PricingTest/obj/project.nuget.cache
/.vs/Pricing/DesignTimeBuild/.dtbcache.v2
/.vs/Pricing/v17/.suo
/.vs/Pricing/v17/DocumentLayout.backup.json
/.vs/Pricing/v17/DocumentLayout.json
/.vs/Pricing/v17/TestStore/0/030.testlog
